.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 1rem;
}
.App-header h1 {
  margin: 0 0 0.5rem 0;
}
@media( min-width: 768px ) {
  .App-header h1 {
    margin: 0 0 1rem 0;
  }
}
@media( min-width: 1024px ) {
  .App-header h1 {
    margin: 0 0 2rem 0;
  }
}
.App-header a.login {
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 1rem;
}
.App-header .login-state {
  margin-bottom: 1rem;
}
.App-header label {
  font-size: 75%;
}
.App-header a.login:hover {
  text-decoration: none;
}
.App-header h2 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  margin-top: 0;
}
.App-header h3 {
  margin-bottom: 0;
}
.App-header form {
  margin-bottom: 1rem;
}
.App-header label, .App-header input {
  margin-right: 1ch;
}
.App-header .ext-link {
  color: #fff;
  margin-bottom: 1rem;
}
.App-header .summary {
  font-size: 80%;
  display: flex;
}
@media( min-width: 768px ) {
  .App-header .summary {
    font-size: 60%;
  }
}
@media( min-width: 1200px ) {
  .App-header .summary {
    font-size: 50%;
  }
}
.App-header .lte,
.App-header .nr {
  background-color: rgba(255,255,255,0.1);
  padding: 1rem;
}
.App-header .lte {
  margin-left: 2rem;
  margin-right: 1rem;
}
.App-header .lte h2 {
  color: #a65ef3;
}

.App-header .nr {
  margin-left: 1rem;
  margin-right: 2em;
}
.App-header .nr h2 {
  color: #6668eb;
}
dl {
  display: flex;
  flex-wrap: wrap;
  text-align: right;
  margin-top: 0.25rem;
}
dl dt {
  flex-basis: 50%;
  width: 40%;
  font-weight: bold;
}
dl dd {
  width: auto;
  flex-shrink: 1;
}
.unit {
  display: none;
  color: #aaa;
  font-size: 80%;
  font-style: italic;
}
@media (min-width: 768px) {
  .unit {
    display: inline;
  }
}
/* LTE SNR MIN */
#composed-chart .recharts-reference-line:nth-child(10) text {
  transform: translate(-50px, -10px);
}
/* LTE SNR MAX */
#composed-chart .recharts-reference-line:nth-child(11) text {
  transform: translate(-50px, 10px);
}
/* LTE RSRP MIN */
#composed-chart .recharts-reference-line:nth-child(12) text {
  transform: translate(-100px, -10px);
}
/* LTE RSRP MAX */
#composed-chart .recharts-reference-line:nth-child(13) text {
  transform: translate(-100px, 10px);
}
/* LTE RSRQ MIN */
#rsrq-chart .recharts-reference-line:nth-child(7) text {
  transform: translate(-100px, -10px);
}
/* LTE RSRQ MAX */
#rsrq-chart .recharts-reference-line:nth-child(8) text {
  transform: translate(-100px, 10px);
}
/* NR SNR MIN */
#composed-chart .recharts-reference-line:nth-child(14) text {
  transform: translate(50px, -10px);
}
/* NR SNR MAX */
#composed-chart .recharts-reference-line:nth-child(15) text {
  transform: translate(50px, 10px);
}
/* NR RSRP MIN */
#composed-chart .recharts-reference-line:nth-child(16) text {
  transform: translate(100px, -10px);
}
/* NR RSRP MAX */
#composed-chart .recharts-reference-line:nth-child(17) text {
  transform: translate(100px, 10px);
}
/* NR RSRQ MIN */
#rsrq-chart .recharts-reference-line:nth-child(9) text {
  transform: translate(100px, -10px);
}
/* NR RSRQ MAX */
#rsrq-chart .recharts-reference-line:nth-child(10) text {
  transform: translate(100px, 10px);
}

@media( min-width: 768px) {
  /* LTE SNR MIN */
  #composed-chart .recharts-reference-line:nth-child(10) text {
    transform: translate(-100px, -10px);
  }
  /* LTE SNR MAX */
  #composed-chart .recharts-reference-line:nth-child(11) text {
    transform: translate(-100px, 10px);
  }
  /* LTE RSRP MIN */
  #composed-chart .recharts-reference-line:nth-child(12) text {
    transform: translate(-200px, -10px);
  }
  /* LTE RSRP MAX */
  #composed-chart .recharts-reference-line:nth-child(13) text {
    transform: translate(-200px, 10px);
  }
  /* LTE RSRQ MIN */
  #rsrq-chart .recharts-reference-line:nth-child(7) text {
    transform: translate(-200px, -10px);
  }
  /* LTE RSRQ MAX */
  #rsrq-chart .recharts-reference-line:nth-child(8) text {
    transform: translate(-200px, 10px);
  }
  /* NR SNR MIN */
  #composed-chart .recharts-reference-line:nth-child(14) text {
    transform: translate(100px, -10px);
  }
  /* NR SNR MAX */
  #composed-chart .recharts-reference-line:nth-child(15) text {
    transform: translate(100px, 10px);
  }
  /* NR RSRP MIN */
  #composed-chart .recharts-reference-line:nth-child(16) text {
    transform: translate(200px, -10px);
  }
  /* NR RSRP MAX */
  #composed-chart .recharts-reference-line:nth-child(17) text {
    transform: translate(200px, 10px);
  }
  /* NR RSRQ MIN */
  #rsrq-chart .recharts-reference-line:nth-child(9) text {
    transform: translate(200px, -10px);
  }
  /* NR RSRQ MAX */
  #rsrq-chart .recharts-reference-line:nth-child(10) text {
    transform: translate(200px, 10px);
  }
}
.App-body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.App-body .yAxis text {
  fill: white;
}
.App-body .recharts-tooltip-wrapper {
  color: #282c34;
}
.App-body .recharts-reference-line text {
  fill: white;
}