.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header .summary {
  font-size: 40%;
  display: flex;
}
.App-header .lte {
  margin-right: 1em;
}
.App-header .nr {
  margin-left: 1em;
}
dl {
  display: flex;
  flex-wrap: wrap;
  text-align: right;
}
dl dt {
  width: 40%;
  font-weight: bold;
}
dl dd {
  width: auto;
  flex-shrink: 1;
}

.App-body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.App-body .yAxis text {
  fill: white;
}
.App-body .recharts-tooltip-wrapper {
  color: #282c34;
}
.App-body .recharts-reference-line text {
  fill: white;
}